/* @import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400&family=Odibee+Sans&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400&family=Nova+Square&family=Odibee+Sans&display=swap');
:root{
	--primary:rgba(250, 214, 67,0.88);
	--bckgrd:rgba(180, 180, 180, 0.33)
}
*{
	margin:0px;
	padding:0px;
	font-family: 'Nova Square', sans-serif;
	scroll-behavior:smooth;
}
a{
	color: white;
	text-decoration: none;
}
#wrap{
	width: 100%;
	position: relative;
}
#wrap-head{
	width: 100%;
	height: 100px;
	background-color: black;
	display: flex;
	justify-content: center;
}
#header{
	position: fixed;
	width: 100%;
	height: 100px;
	margin:0px auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	/* background-image: linear-gradient(#EEEEEE,#4E4FEB); */
	z-index: 20;
	background-image: linear-gradient(rgba(128, 128, 128, 0.849),rgba(211, 211, 211, 0.699));
	box-shadow: 0px 2px 5px #1b1b1b;
}
#logo{
	width: 200px;
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav ul li{
	display: inline;
}
nav ul li a{
	padding: 8px 25px;
	font-size: 24px;
	color: rgb(255, 255, 255);
	transition: 0.8s color;
	border: 2px solid rgba(0, 0, 0, 0);
}
nav ul li a:hover{
	color: rgb(0, 0, 0);
	background-color:rgba(250, 213, 67, 0.637);
	border: 2px solid rgb(87, 87, 87);
	box-shadow: 0px 0px 5px grey;
	border-radius: 9px;
}
#background{
	width: 100%;
	height: 920px;
	background-image: url(../assets/background.png);
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
}
#content-main{
	display: flex;
	align-items: center;
	width: 90%;
	height: 100%;
}
#main{
	width: 50%;
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-left: 75px;
    /* margin-top: 300px; */
}

#main h1,span{
	display: block;
	width:max-content;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 44px;
	color:rgb(255, 255, 255);
	margin-bottom: 15px;
	font-weight: bold;
}
#main h1{
	color: var(--primary);
}
#main a{
	text-transform: uppercase;
	/* font-weight: bold; */
	font-size: 22px;
	border-radius: 15px;
	transition:all .3s ;
	padding:10px 18px;
	background-color: var(--bckgrd);
	border: 2px solid rgb(66, 66, 66);
	transition:all 0.5s;
}
#main a:hover{
	background-color: var(--primary);
	border: 2px solid rgb(27, 27, 27);
	cursor: pointer;
	text-transform: uppercase;
	/* font-weight: bold; */
	font-size: 22px;
	color: black;
}
#empty{
	margin-top: 300px;
	width: 100%;
	height: 20%;
	background-color: wheat;
}
#offer{
	background-color:var(--bckgrd);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 710px;
	flex-direction: column;
}
h2{
	text-align: center;
	justify-content: center;
	padding-top: 20px;
	margin-bottom: 20px;
	font-size: 45px;
}
#offer > p{
	width: 70%;
	font-size: 26px;
	text-align: center;
}
#offers{
	width: 80%;
	height: 510px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.offer{
	display: flex;
	align-items: center;
    justify-content: center;
	box-shadow: 6px 3px 7px 0 rgba(0,0,0,0.7);
	border:1px solid grey;
	border-radius: 5px 60px;
	text-align: center;
	font-size: 21px;
	padding:10px 25px;
	width: 600px;
	height: 350px;
	z-index: 2;
	background-color:var(--bckgrd);
	justify-content: space-between;
	
}
.offer h3{
	width: 100%;
	text-shadow: 2px 1px rgb(100, 100, 100);
	font-size: 31px;
	margin-bottom: 15px;
}
.food{
	position: relative;
	border: 1px solid grey;
	box-shadow: 0 0 2px 0 black;
	border-radius: 150px;
	width: 290px;
	height: 290px;
	background-image: url(../assets/food2.jpg);
	background-repeat:no-repeat;
	background-size: 500px;
	background-position:-135px;
}
.food2{
	background-image: url(../assets/gym.jpg);
	background-size: 314px;
	background-position:-5px;
}
.offer-text{
	width: 280px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.offer-text a{
	color:black;
	width: fit-content;
	margin-top: 15px;
	padding:6px 17px;
	/* background-color: var(--primary); */
	/* border: 1px solid rgba(66, 66, 66, 0.267); */
	border-radius: 12px;
	transition:all 0.5s;
}
.offer-text a:hover{
	background-color: var(--primary);
	/* border: 1px solid rgb(90, 90, 90), 0.664); */
	cursor: pointer;
	 
}
#plans{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--bckgrd);

}
#plans-wrap{
	width: 70%;
	flex-direction: column;
	align-items: center;
}
.plan{
	display: flex;
	width: 100%;
	height: 200px;
	border-radius: 20px;
	margin-bottom: 15px;
	background-color: #c9c9c963;
	justify-content: space-between;
}
.plan-img{
	background-size: 100%;
	border-radius: 20px;
	background-repeat: no-repeat;
	box-shadow: 0px 2px 0px black;
}
#img1{
	width: 390px;
	background-size: 100%;
	background-image: url(../assets/health.jpg);
	border-radius: 20px;
}
#img2{
	width: 390px;
	background-image: url(../assets/sport.jpg);
}
#img3{
	width: 390px;
	background-image: url(../assets/muscle.jpg);
}
.plan-text h4{
	font-size: 34px;
}
.plan-text p{
	font-size: 22px;
	padding:0px 50px;
}
.plan-text{
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: space-evenly;
}
#contact{
	width: 100%;
	height: 550px;
	background-color: var(--bckgrd);
	display: flex;
	flex-direction: column;

}
.contact-wrap{
	width: 70%;
}
form{
	width: 50%;
	height: 400px;
	margin: 0px auto;
	border: 1px solid black;
	border-radius: 15px 15px 65px 65px;
	font-size: 22px;
	display: flex;
	justify-content: center;
}
.text-input label{
	display: block;
}
.text-box{
	width: 100%;
	height: 30px;
	padding: 2px 4px;
	font-size: 21px;
	margin-top: 3px;
	margin-bottom: 6px;
}
.radio-input p, .text-input label{
	margin-top: 8px;
	width: 252px;
}
.radio-input label{
	font-size: 21px;
}
.text-input, .radio-input{
	margin-left: 16px
}
.input-wrap{
	display: flex;
	justify-content: space-evenly;
}
h1, h2{
	color:var(--primary);
	text-shadow: 2px 1px 2px #1b1b1b;
}
footer{
	width: 100%;
	height: 120px;
	background-color:rgba(151, 151, 151, 0.507);
}
footer p{
	font-size: 26px;
}