@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400&family=Odibee+Sans&display=swap');
*{
	margin:0px;
	padding:0px;
	font-family: 'Odibee Sans', sans-serif;
}
a{
	color: white;
	text-decoration: none;
}
#wrap{
	width: 100%;
	position: relative;
}
#wrap-head{
	width: 100%;
	height: 100px;
	background-color: black;
	display: flex;
	justify-content: center;
}
#header{
	position: fixed;
	width: 100%;
	height: 100px;
	margin:0px auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-image: linear-gradient(rgba(73, 73, 73, 0.95),rgba(65, 58, 46, 0.8));
}
#logo{
	width: 200px;
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#nav ul li{
	display: inline;
}
#nav ul li a{
	padding: 8px 25px;
	font-size: 32px;
	color: rgb(255, 255, 255);
	transition: 0.8s color;
	border: 2px solid rgba(0, 0, 0, 0);
}
#nav ul li a:hover{
	color: rgb(0, 0, 0);
	background-image: linear-gradient(rgb(63, 63, 63),rgb(233, 155, 37));
	border: 2px solid rgb(27, 27, 27);
}
#background{
	width: 100%;
	height: 920px;
	background-image: url(../assets/background.png);
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
}
#content-main{
	display: flex;
	align-items: center;
	width: 90%;
	height: 500px;
}
#main{
	width: 50%;
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-left: 75px;
    margin-top: 300px;
}
#main h1,span{
	display: block;
	width:max-content;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 55px;
	color:rgb(255, 255, 255);
	margin-bottom: 15px;
	font-weight: bold;
}
#main button a{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 27px;
	transition:all .3s ;
}
#main button{
	padding:10px 18px;
	background-image: linear-gradient(rgb(133, 133, 133),rgb(53, 53, 53));
	border: 2px solid rgb(66, 66, 66);
	border-radius: 15px;
	transition:all 0.5s;
}
#main button:hover{
	background-image: linear-gradient(rgb(53, 53, 53),rgb(233, 155, 37));
	border: 2px solid rgb(27, 27, 27);
	cursor: pointer;
}
#main button a:hover{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 27px;
	color: black;
}
#offer{
	background-color: lightgray;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 710px;
	flex-direction: column;
}
#offer h2{
	font-size: 55px;
	margin: 10px 0px;
}
#offer > p{
	width: 70%;
	font-size: 30px;
	text-align: center;
}
#offers{
	width: 80%;
	height: 600px;
	background-color: lightgray;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.offer{
	/* background-image: radial-gradient(rgb(255, 255, 255),rgb(233, 155, 37),rgb(255,255,255)); */
	box-shadow: 10px 5px 13px 0 rgba(0,0,0,0.7);
	border:1px solid grey;
	border-radius: 20px 60px;
	text-align: center;
	font-size: 31px;
	padding:10px 25px;
	width: 600px;
	height: 450px;
	z-index: 2;
	background-color: rgba(175, 116, 28, 0.5);

}

.offer h3{
	text-shadow: 2px 1px rgb(100, 100, 100);
	font-size: 45px;
	margin-top: -35px;
}
.food{
	position: relative;
	border: 1px solid grey;
	box-shadow: 0 0 2px 0 black;
	border-radius: 150px;
	width: 300px;
	height: 300px;
	background-image: url(../assets/food2.jpg);
	background-repeat:no-repeat;
	background-size: 500px;
	background-position:-135px;
	margin-top: 30px;
}
.food2{
	background-image: url(../assets/gym.jpg);
	background-size: 314px;
	background-position:-5px;
}
.offer-wrap{
	display: flex;
	justify-content: space-between;
}
/* .offer-wrap p{
	margin-top: 20px;
} */
.text2{
	margin-top: -40px;
}
.offer-text{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
	margin-top: 40px;
}

.offer button{
	width: fit-content;
	margin-top: 20px;
	padding:10px 18px;
	background-image: linear-gradient(rgb(201, 201, 201),rgb(233, 155, 37));
	border: 2px solid rgb(66, 66, 66);
	border-radius: 15px;
	transition:all 0.5s;
}
.offer button:hover{
	background-image: linear-gradient(rgb(83, 83, 83),rgb(146, 98, 25));
	border: 2px solid rgb(27, 27, 27);
	cursor: pointer;
}
.offer button > a{
	color: black;
	font-weight: bold;
	font-size: 25px;
	text-transform: uppercase;
}
.offer button > a:hover{
	color: rgb(214, 214, 214);
	font-weight: bold;
	font-size: 25px;
	text-transform: uppercase;
}
#offer1 #offer2{
	position: absolute;
}

.best{
	width: 160px;
	height: 40px;
	position: relative;
	background-color: rgb(216, 144, 10);
	box-shadow: 5px 4px 4px rgb(88, 61, 10);
	padding: 5px 0px;
	border-radius: 5px 10px 15px 20px;
	top: -30px;	
}
.best > p{
	padding-top: 4px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 30px;
}
#plans > h2{
	text-align: center;
	font-size: 55px;
}
#plans{
	width: 100%;
	display: flex;
	flex-direction: column;
}
#plans-wrap{
	width: 70%;
}
.plan{
	display: flex;
	width: 100%;
	height: 250px;
}
.img1{
	
}